@model NextOnServices.Infrastructure.ViewModels.Dashboard.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/VT/Views/Shared/_Layout.cshtml";
}

<link href="~/css/custmahte.css" rel="stylesheet" />
<link href="~/css/tooltip.css" rel="stylesheet" />
<style>
    .bordertophighlight {
        border-top: 1px solid #f1f1f1;
        box-shadow: 0px 1px 4px 1px #f1f1f1;
        padding: 12px;
    }

    .tooltip1 {
        border-bottom: 0px dotted black !important;
    }

    .container1_ppd {
        display: block;
        position: relative;
        padding-left: 0px;
        margin-bottom: 0px;
        cursor: pointer;
        font-size: 19px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .checkmark_ppd {
        position: absolute;
        top: 0px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
    }

    .select2-container--default .select2-selection--single {
        padding: 0px;
    }

    span.select2-container--default {
        width: 100% !important;
    }

    .card-body .menu-icon img {
        width: 29px;
        margin-bottom: 12px;
    }

    .card-body{position:relative;}
    .card-body  .bttmText {
        position: absolute;
            bottom: 10px;
            right: 16px;
        font-size: 14px;
        }

    .fs-30text {
        font-size: 40px !important;
        font-weight: 800;
    }
    


</style>


<div class="row">
    <div class="col-md-12 grid-margin transparent">
        <div class="row">
            <div class="col-md-3 mb-4 transparent">
                <div class="card card-tale">
                    <div class="card-body">
                        <div class="justify-content-center d-flex justify-content-between">
                            <div class="icons2">
                                <i class="menu-icon mb-3"><img src="~/theme/images/total projects.svg" /></i>
                                <p class="mb-4">Total Projects</p>
                            </div>
                            <div>
                                <p class="fs-30 fs-30text mb-2"> @(Model == null ? "" : Model.ProjectCountSummary == null ? "" : Model.ProjectCountSummary.TotalProjects) </p>
                            </div>
                        </div>
                        
                       
                        @*<p>10.00% (30 days)</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4 transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <div class="justify-content-center d-flex justify-content-between">
                            <div class="icons2">
                                <i class="menu-icon mb-3"><img src="~/theme/images/active projects.svg" /></i>
                                <p class="mb-4">Active Projects</p>
                            </div>
                            <div>
                                <p class="fs-30 fs-30text mb-2">@(Model == null ? "" : Model.ProjectCountSummary == null ? "" : Model.ProjectCountSummary.ActiveProjects)</p>
                            </div>
                        </div>
                       
                        @* <p>@(Model == null ? "0" : Model.ProjectCountSummary == null ? "0" : (Model.ProjectCountSummary.ActiveProjects * 100) / Model.ProjectCountSummary.TotalProjects)% of the total projects</p> *@
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4  transparent">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <div class="justify-content-center d-flex justify-content-between">
                            <div class="icons2">
                                <i class="menu-icon mb-3"><img src="~/theme/images/inactive projects.svg" /></i>
                                <p class="mb-4">Inactive Projects</p>
                            </div>
                            <div>
                                <p class="fs-30 fs-30text mb-2">@(Model == null ? "" : Model.ProjectCountSummary == null ? "" : Model.ProjectCountSummary.InactiveProjects)</p>
                            </div>
                        </div>
                        @* <p>@(Model == null ? "0" : Model.ProjectCountSummary == null ? "0" : (Model.ProjectCountSummary.InactiveProjects * 100) / Model.ProjectCountSummary.TotalProjects)% of the total projects</p> *@
                        @{
                            if (Model != null && Model.ProjectCountSummary != null && Model.ProjectCountSummary.TotalProjects != 0)
                            {
                                // <p class="bttmText">@((Model.ProjectCountSummary.InactiveProjects * 100) / Model.ProjectCountSummary.TotalProjects)% of the total projects</p>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4 transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <div class="justify-content-center d-flex justify-content-between">
                            <div class="icons2">
                                <i class="menu-icon mb-3"><img src="~/theme/images/archivedProjects.svg" /></i>
                                <p class="mb-4">Archived Projects</p>
                            </div>
                            <div>
                                <p class="fs-30 fs-30text mb-2">@(Model == null ? "" : Model.ProjectCountSummary == null ? "" : Model.ProjectCountSummary.ArchivedProjects)</p>
                            </div>
                        </div>
                        
                       
                        @* <p>@(Model == null ? "0" : Model.ProjectCountSummary == null ? "0" : (Model.ProjectCountSummary.ArchivedProjects * 100) / Model.ProjectCountSummary.TotalProjects)% of the total projects</p> *@
                        @{
                            if (Model != null && Model.ProjectCountSummary != null && Model.ProjectCountSummary.TotalProjects != 0)
                            {
                                // <p class="bttmText">@((Model.ProjectCountSummary.ArchivedProjects * 100) / Model.ProjectCountSummary.TotalProjects)% of the total projects</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title mb-0 p-3">Project List</p>

                <div class="row mb-5" id="TableFilters">
                    <div class="offset-3 col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control form-control-sm" name="Managers" onchange="getProjectTable()">
                                    <option value="0">All</option>
                                    @{
                                        if (Model != null)
                                        {
                                            if (Model.Managers != null)
                                            {
                                                foreach (var item in Model.Managers)
                                                {
                                                    if (Model.CurrentUser != null)
                                                    {
                                                        if (Model.CurrentUser.UserId == item.UserId)
                                                        {
                                                            <option selected value="@item.UserId">@item.UserName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.UserId">@item.UserName</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.UserId">@item.UserName</option>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control  form-control-sm" name="Status" onchange="getProjectTable()">
                                    <option value="0">--Select--</option>
                                    <option value="1">Closed</option>
                                    <option value="2">Live</option>
                                    <option value="3">On Hold</option>
                                    <option value="4">Cancelled</option>
                                    <option value="5">Awarded</option>
                                    <option value="6">Invoiced</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="text-align:right">
                        <div class="bordertophighlight" style="display: inline-block">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="col-md-2" style="padding-left: 0px">
                                        <label class="container1_ppd">
                                            <input type="checkbox" id="chkBlue" onchange="getProjectTable()" /><span class="checkmark_ppd"></span>
                                        </label>
                                    </div>
                                    <span class="mdi mdi-flag-variant tooltip1" style="color: blue; margin-left: 30px"><span class="tooltiptext1">IR Drop by 50%</span></span>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-2" style="padding-left: 0px">
                                        <label class="container1_ppd">
                                            <input type="checkbox" id="chkYellow" onchange="getProjectTable()" /><span class="checkmark_ppd"></span>
                                        </label>
                                    </div>
                                    <span class="mdi mdi-flag-variant tooltip1" style="color: yellow; margin-left: 30px"><span class="tooltiptext1">LOI Raised by 35%</span></span>
                                </div>
                                <div class="col-md-4" style="padding-left: 0px">
                                    <div class="col-md-2">
                                        <label class="container1_ppd">
                                            <input type="checkbox" id="chkRed" onchange="getProjectTable()" /><span class="checkmark_ppd"></span>
                                        </label>
                                    </div>
                                    <span class="mdi mdi-flag-variant tooltip1" style="color: red; margin-left: 30px"><span class="tooltiptext1">IR drop by 50% and LOI Raised by 35%</span></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <div id="div_ProjectTable">
                        @Html.Partial("_Dashboard/_ProjectTable.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modals">
    <div class="modal fade" id="mdlChangeStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Change Projects Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <select class="form-control form-control-sm" name="Status">
                                <option value="1">Closed</option>
                                <option value="2">Live</option>
                                <option value="3">On Hold</option>
                                <option value="4">Cancelled</option>
                                <option value="5">Awarded</option>
                                <option value="6">Invoiced</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" value="0" name="ProjectId" />
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="UpdateStatus()">Update Status</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/customJS/Home/Dashboard.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // BlockUI();
            // return;
            $("select").select2();
            getProjectTable();
        });

        function getProjectTable() {
            BlockUI();
            getProjectTablePartialView().then((d) => {
                UnblockUI();
            });
        }

    </script>
}
