@model NextOnServices.Infrastructure.ViewModels.Dashboard.DashboardViewModel

<table class="ref-project-table" id="vtDashboardProjectTable">
    <thead>
        <tr>
            <th style="display:none">ID</th>
            <th>PNo</th>
            <th>PName</th>
            <th>Client</th>
            <th>PM</th>
            <th>Country</th>
            <th>LOI</th>
            <th>CPI</th>
            <th>IRate</th>
            <th>Status</th>
            <th>Total</th>
            <th>CO</th>
            <th>TR</th>
            <th>OQ</th>
            <th>ST</th>
            <th>FE</th>
            <th>IC</th>
            <th>IR</th>
            <th>LOI</th>
            <th><i class="mdi mdi-flag-variant"></i></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                if (Model.ListOfProjects != null)
                {
                    if (Model.ListOfProjects.Count() > 0)
                    {
                        foreach (var item in Model.ListOfProjects)
                        {
                            <tr>
                                <td style="display:none">@item.ProjectId</td>
                                <td><a href="/VT/Home/ProjectPage?projectId=@item.ProjectId">@item.PNO</a></td>
                                <td>@item.PNAME</td>
                                <td>@(item.CLIENT)</td>
                                <td>@(item.PM)</td>
                                <td>@(item.COUNTRY)</td>
                                <td class="font-weight-bold">@item.LOI</td>
                                <td class="font-weight-bold">$@(item.CPI)</td>
                                <td class="font-weight-bold">@(item.IRate)%</td>
                                <td class="font-weight-medium">
                                    @{
                                        if (item.STATUS == 1) { <span onclick="openChangeStatusBox('Closed',@item.ProjectId)" class="ref-status-pill status-closed tblstatus">Closed</span> }
                                        if (item.STATUS == 2) { <span onclick="openChangeStatusBox('Live',@item.ProjectId)" class="ref-status-pill status-live tblstatus">Live</span> }
                                        if (item.STATUS == 3) { <span onclick="openChangeStatusBox('On Hold',@item.ProjectId)" class="ref-status-pill status-hold tblstatus">On Hold</span> }
                                        if (item.STATUS == 4) { <span onclick="openChangeStatusBox('Cancelled',@item.ProjectId)" class="ref-status-pill status-cancelled tblstatus">Cancelled</span> }
                                        if (item.STATUS == 5) { <span onclick="openChangeStatusBox('Awarded',@item.ProjectId)" class="ref-status-pill status-awarded tblstatus">Awarded</span> }
                                        if (item.STATUS == 6) { <span onclick="openChangeStatusBox('Invoiced',@item.ProjectId)" class="ref-status-pill status-invoiced tblstatus">Invoiced</span> }
                                    }
                                </td>
                                <td class="font-weight-bold">@(item.TOTAL)</td>
                                <td class="font-weight-bold">@(item.CO)</td>
                                <td class="font-weight-bold">@(item.TR)</td>
                                <td class="font-weight-bold">@(item.OQ)</td>
                                <td class="font-weight-bold">@(item.ST)</td>
                                <td class="font-weight-bold">@(item.FE)</td>
                                <td class="font-weight-bold">@(item.IC)</td>
                                <td class="font-weight-bold">@(item.ActIR)%</td>
                                <td class="font-weight-bold">@(item.ActLOI)</td>
                                <td class="font-weight-bold">
                                    @{
                                        if (item.Flag != "")
                                        {
                                            <i class='mdi mdi-flag-variant' style="color:@item.Flag"></i>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            }
        }
    </tbody>
</table>
